<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Conference Room</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>


</head>
<body>

<h1>Hello World!</h1>

<label for="room1">Room 1</label>
<input type="checkbox" id="room1" name="room1" checked><br>


<label for="room2">Room 2</label>
<input type="checkbox" id="room2" name="room2" checked><br>


<label for="room3">Room 3</label>
<input type="checkbox" id="room3" name="room3" checked><br>


<label for="room4">Room 4</label>
<input type="checkbox" id="room4" name="room4" checked><br>

<!-- TODO Testing ModelAndView method, remove table later,now to add the data Model to Javascript-->
<table>
    <tbody>
    <tr th:each="room : ${data}">
        <td th:text="${room.id}"></td>
        <td th:text="${room.label}"></td>
        <td th:text="${room.checked}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>